// Mixins for display flex

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @mixin flex-center-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  @mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @mixin flex-between-center-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  @mixin flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  @mixin flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  @mixin flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  @mixin flex-start-start {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  @mixin flex-end-center {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  @mixin flex-between-center-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  @mixin flex-center-end-col {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }
  @mixin flex-start-end-col {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
  }


//   Mixin for breakpoints
@mixin breakpoints($breakpoints) {
    @media (min-width: $breakpoints) {
      @content;
    }
  }