// Mixins for display flex

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.flex-center-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.flex-start-center-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
  }
.flex-between-center-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
.flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
  }
.flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
.flex-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
  }
.flex-start-start {
    display: flex;
    justify-content: start;
    align-items: start;
  }
.flex-end-center {
    display: flex;
    justify-content: end;
    align-items: center;
  }
.flex-between-center-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
.flex-center-end-col {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }
.flex-start-end-col {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
  }


.gap{
  gap: .5rem;
}
.gap-1{
  gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.gap-3{
  gap: 3rem;
}
.gap-4{
  gap: 4rem;
}
.gap-5{
  gap: 5rem;
}