

// Background
$primary:#fff;
$secondary:#f9f9f9;
$dark-bg:#1b2133;
$footer-bg:#1b2133;


// Text color
$heading-clr:#202020;
$text-clr:#909090;
$text-highlight:#26a4ff;
$text-white:#fff;


// Button
$btn-bg:#0d99ff;
$btn-bg-hover:#007be5;


// border radius
$base-radius:0.375rem;
$full-radius:100%;

// fonts
$heading-font:'Inter', sans-serif;
$text-font: 'Roboto', sans-serif;

// Heading font size 
$heading-font-size:1.5rem;
$text-font-size:0.8125rem;

// padding 
$base-padding:0.5rem;

