// Header & Navigation styles start
.header {
  width: 100%;
  padding: $base-padding;
  position: relative;

  @include breakpoints(760px) {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  }

  &__nav {
    width: 100%;
    @include flex-between-center-wrap;

    @include breakpoints(760px) {
      flex-wrap: nowrap;
    }
  }

  &__logo-section {
    @include flex-start-center;
    @include breakpoints(760px) {
      width: 30%;
    }
  }

  &__logo-container {
    width: 40px;
  }

  &__logo-txt {
    padding-left: 0.5rem;
    font-family: $heading-font;
    font-weight: 600;
    color: $heading-clr;
    font-size: 1.5rem;
  }

  &__hamberger-section {
    height: 1.875rem;
    width: 1.875rem;
    border-radius: $full-radius;
    @include flex-center-center;
    // border: 1px solid darken($color: $primary, $amount: 6);
    box-shadow: 0 0 3px lighten($color: $dark-bg, $amount: 2);
    cursor: pointer;
    & {
      font-size: 1.5rem;
    }

    @include breakpoints(760px) {
      display: none;
    }
  }

  &__menu-section {
    display: none;
    width: 100%;
    text-align: center;
    padding: 1rem 0.5rem;
    background-color: $secondary;
    z-index: 9999;
    position: absolute;
    top: -50px;
    left: 0;
    border-top: 1px solid darken($color: $primary, $amount: 10);
    transition: all linear 0.2s;

    @include breakpoints(760px) {
      width: 70%;
      position: relative;
      top: 0;
      border: none;
      background-color: transparent;
      padding: 0;
      @include flex-between-center;
    }
  }

  &__menu-container {
    @include breakpoints(760px) {
      @include flex-between-center;
      gap: 1rem;
    }
  }

  &__menu {
    padding-bottom: 1rem;
    position: relative;

    & > a {
      font-size: 1rem;
      color: $text-clr;
      font-family: $text-font;
      font-weight: 500;
      transition: all linear 0.2s;
      &:hover {
        color: $text-highlight;
      }
    }

    @include breakpoints(760px) {
      padding-bottom: 0;

      & > a {
        font-size: 1.2rem;
        color: darken($color: $text-clr, $amount: 5);
      }

      &:hover::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: $text-highlight;
        z-index: 1;
        top: 2rem;
        transition: all 0.2s linear;
      }
    }
  }

  &__registration-section {
    @include flex-between-center;
  }

  .hide {
    display: none;

    @include breakpoints(768px) {
      display: flex;
    }
  }
  .show {
    display: block;
    top: 50px;
  }
}
// Header & Navigation styles end

// main section styles starts

.main {


  &__hero-section{
    padding: 0.5rem;
    background: url("../../../../images/landin-page/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: auto;

    @include breakpoints(426px){
      -webkit-clip-path: polygon(
        50% 0%,
        100% 0,
        100% 35%,
        100% 78%,
        76% 100%,
        50% 100%,
        0 100%,
        0% 70%,
        0% 35%,
        0 0
      );
      clip-path: polygon(
        50% 0%,
        100% 0,
        100% 35%,
        100% 78%,
        76% 100%,
        50% 100%,
        0 100%,
        0% 70%,
        0% 35%,
        0 0
      );
      height: calc(100vh - 50px);
    }
  }

  &__content-section {
    width: 100%;
    z-index: 5;

    @include breakpoints(426px) {
      width: 55%;
    }
  }

  &__content-container{
    width: 100%;

    @include breakpoints(769px){
      width: 70%;
    }
  }

  &__heading {
    font-size: 3rem;
    font-family: $heading-font;
    color: $heading-clr;
    font-weight: 700;
    @include flex-start-center-wrap;

    // @include breakpoints(426px){
    //   font-size: 5rem;
    // }
    @include breakpoints(769px){
      font-size: 4rem;
    }
  }
  &__heading-highlight {
    color: $text-highlight;
  }

  &__para {
    font-size: 1.1rem;
    font-family: $text-font;
    font-weight: 500;
    text-align: left;
    line-height: 1.4;
    color: $text-clr;
    margin: 1rem 0;
    padding-right: 0.5rem;
    letter-spacing: 1;

    @include breakpoints(426px){
      font-size: 1.299rem;
    }
  }

  &__search-section {
    padding: 0.7rem;
    width: 100%;
    height: auto;
    background-color: $primary;
    
    box-shadow: 0 0 10px 0px darken($color: $secondary, $amount: 5);
    border-radius: $base-radius;

    @include breakpoints(426px){
      display: flex;
      @include flex-between-center-wrap;
      gap: 1rem
    }
  }

  &__input-container,
  &__select-container {
    @include flex-start-center;
    gap: 1rem;
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;

    @include breakpoints(769px){
      margin-bottom: 0;
      width: 30%;
    }
  }
  &__input,
  &__select {
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 0.8rem;
    width: 80%;
  }
  &__input-icon {
    font-size: 1.5rem;
    color: $text-clr;
  }

  &__button-container {
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;

    @include breakpoints(769px){
      font-size: 1.2rem;
      width: 30%;
    }
  }


  &__keyword-section{
    margin: 1rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__keyword-heading{
    font-size: $text-font-size;
    color: $text-clr;
    font-family: $text-font;
    font-weight: 500;

  }

  &__kaywords{
    @include flex-start-center-wrap;
    width: 80%;
    gap: .5rem;
  }

  &__keyword{
    font-size: $text-font-size;
    color: $text-clr;
    font-family: $text-font;
    font-weight: 500;
    box-shadow: 0 0 3px darken($color: $dark-bg, $amount: 5);
    cursor: pointer;
    padding: .3rem .4rem;
    border-radius: $base-radius;
    

  }





  &__media-section {
    display: none;
    z-index: 4;

    @include breakpoints(426px) {
      display: flex;
      width: 40%;
     
    }

    &__image-container {
      z-index: 4;
      @include breakpoints(426px) {
        width: 100%;
        height: 50%;
      }
    }
  }


  // explore category section styles start from here
  &__category-section{
    padding: .5rem;
  }
  &__category-heading-container{
    margin: 1rem 0 ;
  }
  &__category-heading{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: $heading-font;
    color: $heading-clr;
    font-weight: 700;
    @include flex-start-center-wrap;
  }
  &__category-heading-highlight{
    color: $text-highlight;
  }

  &__category-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 1rem;

    @include breakpoints(426px){
      grid-template-columns: repeat( auto-fit, minmax(214px, 214px) );
    }
  }
//   &__category-card{
//     padding: 1rem ;
//     @include flex-between-center;
//     gap: 1rem;
//     border-radius: $base-radius;
//     box-shadow: 0px 0px 5px darken($color: $secondary, $amount: 8);
//     transition: all .3s linear;
//     cursor: pointer;
//     color: $text-clr;
//     &:hover{
//       background-color: $btn-bg;
//       color: $text-white;

//       & * {
//         color: $text-white;
//       }
//     }

//     @include breakpoints(426px){
//       display: block;
//     }
//   }

//   &__category-card-right{
//     @include flex-between-center;

//     @include breakpoints(426px){
//       margin-top: 1.5rem;
//     }
//   }

//   &__category-card-left-icon-container{
//     @include breakpoints(426px){
//       width: 100%;
//       @include flex-start-start;
//     }
//   }
//   &__category-card-left-icon{
//     font-size: 2.5rem;
//     color: darken($color: $btn-bg, $amount: 8);


//     @include breakpoints(426px){
//       font-size: 1.8rem;
//       text-align: left;
//     }
//   }
//   &__category-card-title{
//     line-height: 1.4;

//     @include breakpoints(426px){
//       width: 50%;

//     }
//     & > h3{
//       font-size: 1.6rem;
//       color: $heading-clr;
//       font-family: $heading-font;
//       font-weight: 600;

//     }
//     & > p{
//       font-size:  0.8125rem;
//       font-family: $text-font;
//       font-weight: 500;
//       text-align: left;
//       color: $text-clr;
//     }
//   }
//  &__category-card-right-icon-container{
//   height: 100%;
//   @include flex-end-end
//  }
//  &__category-card-right-icon{
//   font-size: 2rem;
//   color: darken($color: $text-clr, $amount: 5);
//  }

 

}
